@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color--primario: #e0e6f0;
    --color--secundario: #0A3871;
    --color--terciario: #ffffff; 
    --color--cuarto: #C5CED1;

    --fuente-tal: "Inter", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color--primario);
}

.Img__Logo{
    padding-top: 40px;
    padding-left: 40px;
}


.container {
    display: flex;    
    padding-top: 70px;
    gap: 50px;
}

.item {        
    text-align: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    flex: 1;
}
.item1 {
    position: relative;
    padding-left: 40px;
    flex: 1;
    margin-right: 0px;
    margin-left: 200px;
}

.item3 {
    position: relative;
    padding-left: 40px;
    padding-right: 40px; 
    flex: 1;
    margin-right: 0px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--terciario);
    border-radius: 32px;
    width: 400px;
    height: 600px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.Texto {
    font-size: 2rem;
    width: calc(100% - 40px);
    font-family: var(--fuente-tal);
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 40px; 
}

.Texto::placeholder {
    color: var(--color--secundario);
}

.Texto:focus {
    outline: none;
}

.Area__Encriptacion {
    border: none;
    background: transparent;
    
}

.Parrafo{
    width: 100%;
    height: calc(100% - 60px); 
    margin: 0;
    padding: 15px;
    border: none;
    background-color: var(--color--terciario);
    font-size: 	1.3rem;
    line-height: 1.5;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: left;
    font-family: var(--fuente-tal);
    white-space: pre-wrap;
    
}

.button__Copiar {
    display: none; /* Inicialmente oculto */
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;    
    border-radius: 15px;
    font-size: 1.1rem;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--color--secundario);
    background-color: var(--color--terciario);
    border: 1px solid var(--color--secundario);
    font-weight: bold;
}

.button__Copiar:hover {
    background-color: var(--color--primario);
}

.SubTitulo{
    width: 336px;
    font-size: 1.5rem;
    font-family: var(--fuente-tal);
    text-align: center;
}

.Parrafo__Advertencia{
    width: 336px;
    font-size: 1rem;
    font-family: var(--fuente-tal);
    text-align: center
}

.advertencia-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.Img__Advertencia {
    width: 16px; 
    height: 16px; 
    margin-right: 8px;
    
}

.Advertencia {
    width: auto; 
    font-size: 	0.9rem;
    font-family: var(--fuente-tal);
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: space-around; 
    margin-top: 16px; 
}

.button__Encriptar,
.button__Desencriptar {
    font-size: 1.1rem;
    font-family: var(--fuente-tal);
    padding: 12px 0; 
    width: 328px; 
    height: 67px;
    border: none;
    border-radius: 24px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.button__Encriptar {
    background-color: var(--color--secundario);
    color: var(--color--terciario);
}

.button__Desencriptar {
    background-color: var(--color--cuarto);
    color: var(--color--secundario);
    border: 1px solid var(--color--secundario);
    font-weight: bold;
}

.button__Encriptar:hover,
.button__Desencriptar:hover {
    opacity: 0.9;
}

.Img__Muneco{
    width: 336px;
    margin-top: 60px;
    max-width: 300px;
    margin-bottom: 20px;
}

.elfooter{
    background-color: var(--color--cuarto);
    padding: 1.5rem;
    color: var(--color--secundario);
    text-align: center;
    font-family: var(--fuente-tal);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: auto;
}

@media (max-width: 600px) {
    
    .container {
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
        padding: 16px
    }

    .Img__Logo {
        padding-top: 20px;
        padding-left: 0;
    }

    .left-column {
        gap: 20px;
    }

    .item1, .item2, .item3 {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Texto {
        width: 100%;
        left: 0;
        font-size: 1.5rem;
    }

    .advertencia-container {
        justify-content: center;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button__Encriptar,
    .button__Desencriptar {
        width: 100%;
        margin-bottom: 10px;
    }

    .item2 {
        height: auto;
        padding: 20px;
    }

    .Img__Muneco {
        width: 100%;
        max-width: 200px;
    }

    .SubTitulo,
    .Parrafo__Advertencia {
        width: 100%;
    }

    .button__Copiar {
        width: 100%;
    }

    .elfooter {
        font-size: 1rem;
        padding: 1rem;
    }
}


